In [18]:
import pandas as pd

In [19]:
df=pd.read_csv(r'C:\Users\SHIVAM\OneDrive\Desktop\Data\Weather_data.csv',encoding="unicode_escape")
df

       ï»¿day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny
2  03-01-2017           28          2   Snow
3  04-01-2017           24          7   Snow
4  05-01-2017           32          4   Rain
5  06-01-2017           32          2  Sunny
6  07-01-2017           34          4   Snow

In [22]:
# shape of data(rows,column)
df.shape

(7, 4)

In [27]:
rows,columns=df.shape

In [28]:
rows

7

In [29]:
columns

4

In [35]:
# print top 5 rows
# df.head()
# print number you want to print from top
df.head(2)

       ï»¿day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  02-01-2017           35          7  Sunny

In [36]:
# print bottom 5 rows
# df.tail()
# print number you want to print from bottom
df.tail(2)

       ï»¿day  temperature  windspeed  event
5  06-01-2017           32          2  Sunny
6  07-01-2017           34          4   Snow

In [42]:
# it includes 2 but not 5
df[2:5]
# if you want to print everything
# df[:] or df

       ï»¿day  temperature  windspeed event
2  03-01-2017           28          2  Snow
3  04-01-2017           24          7  Snow
4  05-01-2017           32          4  Rain

In [44]:
# print all heading
df.columns

Index(['ï»¿day', 'temperature', 'windspeed', 'event'], dtype='object')

In [52]:
# print all data of single column
# df.temperature 
# or
df['temperature']

0    32
1    35
2    28
3    24
4    32
5    32
6    34
Name: temperature, dtype: int64

In [54]:
# type of column
type(df['event'])

pandas.core.series.Series

In [56]:
# print only particular column
df[['event','temperature']]

   event  temperature
0   Rain           32
1  Sunny           35
2   Snow           28
3   Snow           24
4   Rain           32
5  Sunny           32
6   Snow           34

In [71]:
# int(df['temperature'].max())
# int(df['temperature'].min())
# int(df['temperature'].mean())
int(df['temperature'].std())

3

In [72]:
df.describe()

       temperature  windspeed
count     7.000000   7.000000
mean     31.000000   4.571429
std       3.785939   2.149197
min      24.000000   2.000000
25%      30.000000   3.000000
50%      32.000000   4.000000
75%      33.000000   6.500000
max      35.000000   7.000000

In [85]:
# df[df.temperature>=32]
# df[df.temperature==df.temperature.max()]
# df[df.temperature==df.temperature.min()]
df[['event','temperature']][df.temperature==df['temperature'].min()]

  event  temperature
3  Snow           24

In [86]:
# set_index is used to change the index of a DataFrame, which means replacing the default integer-based index (0, 1, 2, ...) 
# with one or more columns from the DataFrame. 
df.set_index('event',inplace=True)

In [87]:
df

           ï»¿day  temperature  windspeed
event
Rain   01-01-2017           32          6
Sunny  02-01-2017           35          7
Snow   03-01-2017           28          2
Snow   04-01-2017           24          7
Rain   05-01-2017           32          4
Sunny  06-01-2017           32          2
Snow   07-01-2017           34          4

In [88]:
# .loc is a label-based indexing method used to access rows and columns in a DataFrame by their labels (index or column names).
# It allows you to select specific data by specifying the labels you want to retrieve.
df.loc['Snow']

           ï»¿day  temperature  windspeed
event
Snow   03-01-2017           28          2
Snow   04-01-2017           24          7
Snow   07-01-2017           34          4

In [90]:
# It reset the index
df.reset_index(inplace=True)

In [91]:
df

   event      ï»¿day  temperature  windspeed
0   Rain  01-01-2017           32          6
1  Sunny  02-01-2017           35          7
2   Snow  03-01-2017           28          2
3   Snow  04-01-2017           24          7
4   Rain  05-01-2017           32          4
5  Sunny  06-01-2017           32          2
6   Snow  07-01-2017           34          4